
<nav class="navbar navbar-expand-md p-0 shadow">
	<button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<strong>Menu</strong>   
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mx-auto pb-sm-0 pb-4">
			<li class="nav-item py-md-2 py-1">
				<a class="nav-link text-center" href="{{ "/" | relative_url }}">Home</a>
			</li>

			<li class="nav-item dropdown py-md-2 py-1">
				<a class="nav-link dropdown-toggle text-center" href="#" id="menuAuthorsLink" role="button" data-toggle="collapse" data-target="#menuAuthors" aria-haspopup="true" aria-expanded="false">
					Authors
				</a>
				<div class="dropdown-menu collapse shadow text-md-left text-center p-0" aria-labelledby="menuAuthorsLink" id="menuAuthors">
					<a class="dropdown-item py-md-1 py-2" href="{{ "/authors/full-papers/" | relative_url }}">Full Papers</a>
					<a class="dropdown-item py-md-1 py-2" href="{{ "/authors/provocation-papers/" | relative_url }}">Provocation Papers</a>
					<a class="dropdown-item py-md-1 py-2" href="{{ "/authors/posters/" | relative_url }}">Posters</a>
					<a class="dropdown-item py-md-1 py-2" href="{{ "/authors/demos/" | relative_url }}">Demos</a>
					<a class="dropdown-item py-md-1 py-2" href="{{ "/authors/featured-talks/" | relative_url }}">Featured Talks</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item py-md-1 py-2" href="{{ "/authors/submission/" | relative_url }}">EasyChair login</a>
					<a class="dropdown-item py-md-1 py-2" href="{{ "/authors/submission-guidance/" | relative_url }}">Submission guidance</a>
				</div>
			</li>

			<li class="nav-item dropdown py-md-2 py-1">
				<a class="nav-link dropdown-toggle text-center" href="#" id="menuCommitteesLink" role="button" data-toggle="collapse" data-target="#menuCommittees" aria-haspopup="true" aria-expanded="false">
					Committees
				</a>
				<div class="dropdown-menu collapse shadow text-md-left text-center p-0" aria-labelledby="menuCommitteesLink" id="menuCommittees">
					<a class="dropdown-item py-md-1 py-2" href="{{ "/organising-committee/" | relative_url }}">Organising Commmitee</a>
					<a class="dropdown-item py-md-1 py-2" href="{{ "/programme-committee/" | relative_url }}">Programme Commmitee</a>
				</div>
			</li>
			
			<li class="nav-item py-md-2 py-1">
				<a class="nav-link text-center" href="{{ "/partners/" | relative_url }}">Partners</a>
			</li>
			
			<li class="nav-item py-md-2 py-1">
				<a class="nav-link text-center" href="{{ "/contact/" | relative_url }}">Contact</a>
			</li>
		</ul>
	</div>
</nav>