
{%- if pub contains 'pdffile' -%}
	{%- assign class = 'pt-2' -%}
{% else %}
	{%- assign class = '' -%}
{%- endif -%}

<div class="media pubs py-0">
	<div class="mr-3 pt-1 {{ class }}align-self-start text-center d-print-none">
    {% if pub contains 'pdflink' %}
        <a href="{{ site.baseurl }}/{{ pub.title | datapage_url: 'pubs' }}" target="_blank" rel="nofollow" data-action="popup" title="Download the paper" class="pdficon" aria-label="PDF file icon"><span class="sr-only">Download the paper</span></a>
    {% endif %}
    {% if pub contains 'bibtex' %}
    <a href="{{ site.baseurl }}/{{ pub.title | datapage_url: 'pubs/bibtex' }}" target="_blank" rel="nofollow" data-action="popup" title="View BibTeX source" class="text-muted small" aria-label="BibTeX source for this publication">[bib]</a>
    {% endif %}
    </div>
    <div class="media-body">
        {{ pub.acmref | markdownify }}
    </div>
</div>