
$body-max-width:                      2000px;

$transition-timing-function:          ease-in-out;
$transition-duration:                 .5s;

$nav-height:                          48px;
$nav-md-height:                       56px;

$navbar-toggler-p:                    $spacer*.75 0;

$homepage-banner-w:                   300px;

$header-bg-imgs: (
  xs: url(../img/masthead-bg-xs.png),
  sm: url(../img/masthead-bg-sm.png),
  md: url(../img/masthead-bg-md.png),
  lg: url(../img/masthead-bg-lg.png),
  xl: url(../img/masthead-bg-xl.png)
);

$header-fg-imgs: (
  xs: url(../img/masthead-fg-xs.png),
  sm: url(../img/masthead-fg-sm.png),
  md: url(../img/masthead-fg-md.png),
  lg: url(../img/masthead-fg-lg.png),
  xl: url(../img/masthead-fg-xl.png)
);

$header-logo-ws: (
  xs: 321px,
  sm: 398px,
  md: 490px,
  lg: 587px,
  xl: 671px
);
$header-logo-hs: (
  xs: 230px,
  sm: 277px,
  md: 350px,
  lg: 420px,
  xl: 480px
);

$main-mt: (
  xs: 107.5px,
  sm: 130px,
  md: 168px,
  lg: 203px,
  xl: 233px
);

$h2-font-size:                        1.6rem;

$h3-font-size:                        1.2rem;
$h3-p:                                $spacer/2 0;

$icon-email-w:                        1.5rem;
$icon-email-mt:                       -2px;

$prg-icon-large-w:                    $icon-email-w;
$prg-icon-timing-w:                   $icon-email-w/1.5;