
$body-bg:                             #ffffff;
$body-fg:                             #000000;

$primary:                             #A92B7A;

$nav-bg:                              rgba(#ffffff, 0.2);
$nav-bg-sm:                           rgba(#ffffff, 0.5);
$nav-bg-fx:                           rgba(#ffffff, 0.9);
$nav-bg-filter:                       saturate(180%) blur(20px);
$nav-border:                          1px solid rgba(#ffffff, 0.45);

$nav-item-border:                     1px solid rgba(#000000, 0.05);
$navbar-toggler-color:                #000000;

$header-bg-prefill:                   null;

$homepage-banner-w:                   300px;

$navbar-color:                        #000000;
$navbar-hover-color:                  #000000;

$navpopup-toggler-border:             2px solid $navbar-color;
$navpopup-toggler-icon-bg:            url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewBox='0 0 22 22'><path fill='#{$navbar-color}' d='M0.785714286,4.04081633 L21.2142857,4.04081633 C21.6482455,4.04081633 22,3.63881122 22,3.14285714 L22,0.897959184 C22,0.402005102 21.6482455,0 21.2142857,0 L0.785714286,0 C0.351754464,0 0,0.402005102 0,0.897959184 L0,3.14285714 C0,3.63881122 0.351754464,4.04081633 0.785714286,4.04081633 Z M0.785714286,13.0204082 L21.2142857,13.0204082 C21.6482455,13.0204082 22,12.6184031 22,12.122449 L22,9.87755102 C22,9.38159694 21.6482455,8.97959184 21.2142857,8.97959184 L0.785714286,8.97959184 C0.351754464,8.97959184 0,9.38159694 0,9.87755102 L0,12.122449 C0,12.6184031 0.351754464,13.0204082 0.785714286,13.0204082 Z M0.785714286,22 L21.2142857,22 C21.6482455,22 22,21.5979949 22,21.1020408 L22,18.8571429 C22,18.3611888 21.6482455,17.9591837 21.2142857,17.9591837 L0.785714286,17.9591837 C0.351754464,17.9591837 0,18.3611888 0,18.8571429 L0,21.1020408 C0,21.5979949 0.351754464,22 0.785714286,22 Z'/></svg>");
$navpopup-toggler-close-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewBox='0 0 22 22'><path fill='#{$navbar-color}' d='M15.17,11 L21.424375,4.745625 C22.191875,3.978125 22.191875,2.73375 21.424375,1.965625 L20.034375,0.575625 C19.266875,-0.191875 18.0225,-0.191875 17.254375,0.575625 L11,6.83 L4.745625,0.575625 C3.978125,-0.191875 2.73375,-0.191875 1.965625,0.575625 L0.575625,1.965625 C-0.191875,2.733125 -0.191875,3.9775 0.575625,4.745625 L6.83,11 L0.575625,17.254375 C-0.191875,18.021875 -0.191875,19.26625 0.575625,20.034375 L1.965625,21.424375 C2.733125,22.191875 3.978125,22.191875 4.745625,21.424375 L11,15.17 L17.254375,21.424375 C18.021875,22.191875 19.266875,22.191875 20.034375,21.424375 L21.424375,20.034375 C22.191875,19.266875 22.191875,18.0225 21.424375,17.254375 L15.17,11 Z'/></svg>");

$dropdown-border-color:               #ffffff;

$prg-row-o:                           .75;

