body {
  max-width: $body-max-width;
}

header {
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  z-index: 100;
}

nav {
  background-color: $nav-bg;
  -webkit-backdrop-filter: $nav-bg-filter;
  backdrop-filter: $nav-bg-filter;
  
  .nav-link {
    color: $navbar-color;
    
    @include hover-focus() {
      color: $navbar-hover-color;
    }
    
    text-align: center;    
  }
  
  .navbar-toggler {
    font-weight: bold;
    color: $black !important;
  }
}

section {
  z-index: 1;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
  padding: $h3-p;
}

.icon-email {
  margin-top: $icon-email-mt;
  width: $icon-email-w;
}

.prg {
  .prg-row {
    opacity: $prg-row-o;
    transition-timing-function: ease;
    transition-duration: .5s;
    transition-property: opacity;
    
    @include hover-focus() {
      opacity: 1;
    }
  }
  
  .prg-timing {
    font-weight: bold;
  }
  
  .prg-icon-timing {
    margin-top: -.1rem;
    width: $prg-icon-timing-w;
  }
  
  .prg-icon-large {
    width: $prg-icon-large-w;
  }
  
  .prg-inner-icon {
    margin-right: .2rem;
  }
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    header {
      background-image: map-get($header-bg-imgs, $breakpoint);
      min-height: map-get($header-logo-hs, $breakpoint);
      transition-timing-function: ease;
      transition-duration: .5s;
      transition-property: min-height;
      
      .logo {
        height: map-get($header-logo-hs, $breakpoint) - $nav-height;
        width: map-get($header-logo-ws, $breakpoint);
        @include transition(width)
        transition-timing-function: ease;
        transition-duration: .5s;
        transition-property: width, height;
      }
    }

    section {
      margin-top: map-get($header-logo-hs, $breakpoint)/2;;
    }
  }
}


