
$body-bg:                             #ffffff;
$body-fg:                             #000000;

$primary:                             #A92B7A;

$nav-bg:                              rgba(#ffffff, 0.2);
$nav-bg-sm:                           rgba(#ffffff, 0.5);
$nav-bg-fx:                           rgba(#ffffff, 0.9);
$nav-bg-filter:                       saturate(180%) blur(20px);
$nav-border:                          1px solid rgba(#ffffff, 0.45);

$nav-item-border:                     1px solid rgba(#000000, 0.05);
$navbar-toggler-color:                #000000;

$header-bg-prefill:                   null;

$homepage-banner-w:                   300px;

$navbar-color:                        #000000;
$navbar-hover-color:                  #000000;

$dropdown-border-color:               #ffffff;

$prg-row-o:                           .75;

