body {
  max-width: $body-max-width;
}

header {
  background-repeat: no-repeat;
  box-shadow: $box-shadow !important;
  position: absolute;
  top: 0;
  z-index: 100;
}

nav {
  background-color: $nav-bg;
  -webkit-backdrop-filter: $nav-bg-filter;
  backdrop-filter: $nav-bg-filter;
  
  &.navbar {
    box-shadow: 0 -.5rem 1rem rgba($black, .15) !important;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    z-index: 1030;
  }
  
  .nav-link {
    color: $navbar-color;
    
    @include hover-focus() {
      color: $navbar-hover-color;
    }
    
    text-align: center;    
  }
  
  .navbar-toggler {
    font-weight: bold;
    color: $black !important;
    padding: $spacer*1.5 0;
    width: 100%;
  }
  
  .dropdown-menu {
    border-left: 0;
    border-right: 0;
    border-radius: 0;

    a:first-child {
      margin-top: 2*$spacer/3;
    }

    a:last-child {
      margin-bottom: 2*$spacer/3;
    }

    &.collapsing {
        display:block;
    }
  }
}

@include media-breakpoint-up(sm) {
  header {
    box-shadow: none !important;
  }
  
  nav {
    &.navbar {
      box-shadow: $box-shadow !important;
      position: relative;
    }
  }
}

@include media-breakpoint-up(md) {
  nav {
    &.navbar {
      padding: $spacer/2 $spacer;
    }

    .dropdown-menu {
      border: $dropdown-border-width solid $dropdown-border-color;
      @include border-radius($dropdown-border-radius);
    }
  }
}

section {
  z-index: 1;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
  padding: $h3-p;
}

.icon-email {
  margin-top: $icon-email-mt;
  width: $icon-email-w;
}

.prg {
  .prg-row {
    opacity: $prg-row-o;
    transition-timing-function: ease;
    transition-duration: .5s;
    transition-property: opacity;
    
    @include hover-focus() {
      opacity: 1;
    }
  }
  
  .prg-timing {
    font-weight: bold;
  }
  
  .prg-icon-timing {
    margin-top: -.1rem;
    width: $prg-icon-timing-w;
  }
  
  .prg-icon-large {
    width: $prg-icon-large-w;
  }
  
  .prg-inner-icon {
    margin-right: .2rem;
  }
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    header {
      background-image: map-get($header-bg-imgs, $breakpoint);
      min-height: map-get($header-logo-hs, $breakpoint);
      transition-timing-function: ease;
      transition-duration: .5s;
      transition-property: min-height;
      
      .logo {
        height: map-get($header-logo-hs, $breakpoint) - $nav-height;
        width: map-get($header-logo-ws, $breakpoint);
        @include transition(width)
        transition-timing-function: ease;
        transition-duration: .5s;
        transition-property: width, height;
      }
    }

    section {
      margin-top: map-get($header-logo-hs, $breakpoint)/2;;
    }
  }
}


