body {
  max-width: $body-max-width;
}

header {
  background-repeat: no-repeat;
  box-shadow: $box-shadow !important;
  position: absolute;
  max-width: $body-max-width;
  top: 0;
  z-index: 100;
}

nav {
  background-color: $nav-bg;
  -webkit-backdrop-filter: $nav-bg-filter;
  backdrop-filter: $nav-bg-filter;
  
  &.navbar {
    border-bottom: $nav-border;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    transition-timing-function: $transition-timing-function;
    transition-duration: $transition-duration;
    transition-property: box-shadow;
    z-index: 1030;
  }
  
  .nav-item {
    border-top: $nav-item-border;
    
    &:first-child {
      border-top: 0;
    }
  }
  
  .nav-link {
    color: $navbar-color;
    
    @include hover-focus() {
      color: $navbar-hover-color;
    }
  }
  
  .navbar-toggler {
    @include caret('down');
    color: $navbar-toggler-color;
    padding: $navbar-toggler-p;
    width: 100%;
  }
  
  .navbar-toggler[aria-expanded="true"], .dropdown-toggle[aria-expanded="true"] {
    @include caret('up');
  }
  
  .dropdown-menu {
    border-color: $white;
    margin: 0 1rem;
    transition-timing-function: $transition-timing-function;
    transition-duration: $transition-duration;
    transition-property: height, margin;

    a:first-child {
      margin-top: 2*$spacer/3;
    }

    a:last-child {
      margin-bottom: 2*$spacer/3;
    }

    &.collapsing {
        display: block;
    }
    
    &.collapsing, &.show {
      margin-bottom: 1rem !important;
    }
  }
}

section {
  z-index: 1;
}

.homepage-banner {
  max-width: 100%;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
  padding: $h3-p;
}

.icon-email {
  margin-top: $icon-email-mt;
  width: $icon-email-w;
}

.mblast-0 {
  ul:last-child, div:last-child, p:last-child {
    margin-bottom: 0;
  }
}

.prg {
  .prg-row {
    opacity: $prg-row-o;
    transition-timing-function: $transition-timing-function;
    transition-duration: $transition-duration;
    transition-property: opacity;
    
    @include hover-focus() {
      opacity: 1;
    }
  }
  
  .prg-timing {
    font-weight: bold;
  }
  
  .prg-icon-timing {
    margin-top: -.1rem;
    width: $prg-icon-timing-w;
  }
  
  .prg-icon-large {
    width: $prg-icon-large-w;
  }
  
  .prg-inner-icon {
    margin-right: .2rem;
  }
}

footer {
  padding-bottom: 5rem;
}

@supports (-webkit-touch-callout: none) {
  footer {
    padding-bottom: env(safe-area-inset-bottom);
  }
}

@include media-breakpoint-up(sm) {
  header {
    box-shadow: none !important;
  }

  nav {
    background-color: $nav-bg-sm;

    .navbar-toggler {
      margin-bottom: 0rem;
      margin-top: 0rem;
      padding: $spacer*.75 0;
    }
  
    &.navbar {
      border-top: $nav-border;
      margin-top: -$nav-height;
      position: relative;
    }
  }
}

@include media-breakpoint-up(md) {
  nav {
    &.navbar {
      margin-top: -$nav-md-height;
      padding: $spacer/2 $spacer;
    }

    .nav-item {
      border-top: 0;
    }
    
    .dropdown-menu {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      margin: 0;
    }
  }
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    header {
      background-image: map-get($header-bg-imgs, $breakpoint);
      min-height: map-get($header-logo-hs, $breakpoint);
      
      .logo {
        background-image: map-get($header-fg-imgs, $breakpoint);
        background-size: 100%;
        height: map-get($header-logo-hs, $breakpoint);
        width: map-get($header-logo-ws, $breakpoint);
      }
    }

    section {
      margin-top: map-get($main-mt, $breakpoint);
    }
  }
}

@-moz-document url-prefix() {
  nav.navbar {
    background-color: $nav-bg-fx;
    border: 0 !important;
  }
}

