---
layout: default
---
<section class="main-body main-singleton">
	{% if page.submission.text %}
	<div class="main-title row pt-1 pt-md-3 pb-4">
		<div class="col-md-6 col-12 text-md-left text-center">
			<h1 class="m-0 p-0">{{ page.title | escape }}</h1>
		</div>
		<div class="col-md-6 col-12 pt-md-0 pt-3 text-md-right text-center">
		{% if page.submission.link and page.submission.title %}
			<a href="{{ page.submission.link }}" class="btn btn-lg btn-primary" title="{{ page.submission.title }}">{{ page.submission.text }}</a>
		</div>
		{% else %}
			<a class="btn btn-lg btn-outline-primary disabled">{{ page.submission.text }}</a>
		{% endif %}
		</div>
	</div>
	{% else %}
	<div class="main-title pt-1 pt-md-3 pb-4 text-md-left text-center">
		<h1 class="m-0 p-0">{{ page.title | escape }}</h1>
	</div>
	{% endif %}
	</div>
    <div class="main-content">
		<article>
			{{- content -}}
		</article>
    </div>
</section>