---
layout: default
---
{% assign session_day = page.name | replace: ".html", "" %}
{% assign session_day = session_day | replace: "-", "_" %}

<section class="main-body main-singleton">
	<div class="main-title py-4 text-md-left text-center">
		<h1 class="m-0 p-0"><a href="{{ "/programme/" | relative_url }}" title="Go to the overview of the entire programme">Programme</a> &raquo; {{ page.title | escape }}</h1>
	</div>
    <div class="main-content">
		<article>
            <p>The below events are scheduled to take place on <span class="text-lowercase">{{ page.title }}</span> ({{ page.day }}) of the conference. The times shown below <span class="timezone"></span><noscript>are in UTC</noscript>.</p>
            <ul class="list-unstyled prg">
            {%- for session in site.data.prg_sessions[session_day] %}
                {% if session.type == "Break" %}
                <li class="media mb-1 p-3" id="session-{{ forloop.index0 }}">
                    <div class="media-body text-center text-muted">
                        {% if session.description %}
                        {{ session.description }}
                        {% endif %}
                    </div>
                </li>
                {% else %}
                <li class="media prg-row mb-1 p-3 border rounded bg-light" id="session-{{ session.id }}">
                    <div class="mr-3">
                        <div class="badge badge-primary text-capitalize mb-2 mr-3">{{ session.type }}</div>
                        <div class="mb-1 small">
                            <span alt="A clock" class="d-inline-block prg-icon-timing prg-icon-start mr-2"></span><span class="d-inline-block prg-text-timing">Starts at <span class="prg-timing" data-timestamp="{{ session.start_time | date: "%FT%T.000Z" }}" data-programme-scheduled="{{ session.start_time | date: "%d" }}" data-day-alert="different-day-{{ forloop.index0 }}"><span></span><noscript>{{ session.start_time | date: "%H:%M" }}</noscript></span>
                        </div>
                        <div class="mt-1 small">
                            <span alt="A stopwatch" class="d-inline-block prg-icon-timing prg-icon-end mr-2"></span><span class="d-inline-block prg-text-timing">Ends at <span class="prg-timing" data-timestamp="{{ session.end_time | date: "%FT%T.000Z" }}"><span></span><noscript>{{ session.end_time | date: "%H:%M" }}</noscript></span>
                        </div>
                        <div class="mt-3 small different-day " id="different-day-{{ forloop.index0 }}">
                            <span alt="An exclamation mark in a triangle" class="d-inline-block prg-icon-timing prg-icon-warning mr-2"></span><span class="d-inline-block prg-text-timing">This event starts on<br><strong></strong></span>
                        </div>
                    </div>
                    <div class="media-body">
                        {% if session.youtube %}
                        <div class="float-right">
                            <a href="{{ session.youtube }}" title="Watch the session on YouTube" class="d-block prg-icon-yt mr-4">
								<span class="sr-only">Watch on YouTube</span>
                            </a>
                        </div>
                        {% endif %}
                        <h5 class="mt-0 mb-1">{{ session.title }}</h5>
                        {% if session.presenters %}
                        {{ session.presenters }}
                        {% endif %}
                        {% if session.chairs %}
                        <em class="small">Chaired by {{ session.chairs }}</em>
                        {% endif %}

                        {% assign presentations = site.data.prg_presentations[session.id] %}
                        {% if presentations.size > 0 %}
                        <ol class="list-group mt-2">
                        {%- for presentation in site.data.prg_presentations[session.id] %}
                            <li class="list-group-item">
                                {% if presentation.acmdl %}
                                <div class="float-right">
                                    <a href="{{ session.acmdl }}" title="See the paper in the ACM Digital Library" class="d-block prg-inner-icon prg-icon-acmdl">
										<span class="sr-only">View paper on the ACM DL</span>
                                    </a>
                                </div>
                                {% endif %}
                                <strong>{{ presentation.title }}{% if presentation.type != "panel" %} <span class="badge badge-secondary">{{ presentation.type }}</span>{% endif %}</strong><br>
                                {{ presentation.authors }}
                            </li>
                        {%- endfor -%}
                        </ol>
                        {% endif %}
                        
                    </div>
                </li>
                {% endif %}
            {%- endfor -%}
            </ul>
		</article>
    </div>
</section>